div.form-group
  label.col-sm-2.control-label(for="name") Name
  div.col-sm-10
    input.form-control(
      type="text" 
      ng-model="employee.name"
      id="name" 
      placeholder="First and Last Name"
    )

div.form-group
  label.col-sm-2.control-label(for="email") Email
  div.col-sm-10
    input.form-control(
      type="text" 
      ng-model="employee.email"
      id="email" 
      placeholder="someone@codeplace.com"
    )
    
div.form-group
  label.col-sm-2.control-label(for="password") Password
  div.col-sm-10
    input.form-control(
      type="password" 
      ng-model="employee.password"
      id="password" 
      placeholder="Password"
    )
    
div.form-group
  label.col-sm-2.control-label(for="confirm-password") Confirm Password
  div.col-sm-10
    input.form-control(
      type="password" 
      ng-model="employee.password_confirmation"
      id="confirm-password" 
      placeholder="Password"
    )

input.btn.btn-primary(
  type="submit" 
  value="Save"
)
    
    
    
    
    
    
    
