div(ng-include="'app/components/navbar/navbar.html'")
div.container
  div.row
    div.col-xs-12
      div.alert.alert-danger(role="alert" ng-show="error") {{ error }}
      h1 {{ employee.name }}
  
  div.row
    div.col-xs-12.col-sm-6
      div.hr-title
        h4 Employee Details
        hr
      div.table-responsive
        table.table.table-striped
          tr
            th Email
            td {{ employee.email }}
          tr
            th Role
            td {{ employee.admin | employeeRole }}
          //tr
            //th Status
            //td {{ employee.status }}
      div.btn-toolbar
        a.btn.btn-primary(ui-sref="editEmployee({id:employee.id})") Edit
        a.btn.btn-danger(mwl-confirm
          title="Delete?"
          message="Are you sure you want to delete this employee?"
          on-confirm="deleteEmployee(employee)"
          confirm-button-type="danger") Delete

    div.col-xs-12.col-sm-6
      div.hr-title
        h4 Fingerprints
        hr
      div(ng-show="!employee.fingerprint1 && !employee.fingerprint2")
        p This employee has no fingerprints.
        
      div.finger.blocky(ng-show="employee.fingerprint1")
        div.overlay
          p.text-center ID: {{ employee.fingerprint1 }}
          p
            span.glyphicon.glyphicon-remove(aria-hidden="true" 
              mwl-confirm
              title="Delete?"
              message="Are you sure you want to delete this fingerprint?"
              on-confirm="deletePrint(employee, 1)"
              confirm-button-type="danger")
      div.finger.blocky(ng-show="employee.fingerprint2")
        div.overlay
          p.text-center ID: {{ employee.fingerprint2 }}
          p
            span.glyphicon.glyphicon-remove(aria-hidden="true" 
              mwl-confirm
              title="Delete?"
              message="Are you sure you want to delete this fingerprint?"
              on-confirm="deletePrint(employee, 2)"
              confirm-button-type="danger")
      
      div(ng-show="(!employee.fingerprint1 || !employee.fingerprint2) && currentUser.admin")
        a.btn.btn-primary(ng-click="openFingerprint()") Add Fingerprint
