div(ng-include="'app/components/navbar/navbar.html'")

div.container
  div.alert.alert-danger(role="alert" ng-show="error") {{ error }}

  h1 Login

  form(ng-submit="submitForm(credentials)" role="form" ng-init="credentials = {}")
    div.form-group
      label(for="email") Email
      input.form-control(type="email"
        name="email"
        id="email"
        ng-model="credentials.email"
        required="required"
        class="form-control")

    div.form-group
      label(for="password") Password
      input.form-control(type="password"
        name="password"
        id="password"
        ng-model="credentials.password"
        required="required")

    button.btn.btn-primary.btn-lg(type="submit") Sign in
